<!doctype html>
<html>
<head>
	<title>Node Authentication- Admin</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
		table { border-radius:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; background-color: #DDDDDD; }
		th { background-color: #EEEEEE; padding:10px; }
		td { text-align:left; padding:10px; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

				<% if (user.local.email) { %>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>
                        <strong>group</strong>: <%= user.local.group %>
					</p>
					
					<a href="/unlink/local" class="btn btn-default">Unlink</a>
				<% } else { %>
					<a href="/connect/local" class="btn btn-default">Connect Local</a>
				<% } %>

			</div>
		</div>

	</div>

	</p>

<form action="">
	<div class="row" style="width:100%">
		<table>
			<tr>
				<th>Security Options</th>
				<th>On/Off</th>
			</tr>
			<tr>
				<td>Brute Force Prevention</td>
				<td><input type="checkbox" name="cbk-sec-brute-force"></td>
			</tr>
			<tr>
				<td>Force Password Change (every month)</td>
				<td><input type="checkbox" name="cbk-sec-pw-change-period"></td>
			</tr>
			<tr>
				<td>Force Password Change (after forgot password)</td>
				<td><input type="checkbox" name="cbk-sec-pw-change-forgot"></td>
			</tr>
			<tr>
				<td>Force Password Change (after 10 tries)</td>
				<td><input type="checkbox" name="cbk-sec-pw-change-tries"></td>
			</tr>
			<tr>
				<td>Require Complex Password</td>
				<td><input type="checkbox" name="cbk-sec-pw-complex"></td>
			</tr>
		</table>
	</div>

</form>

</div>
</body>
</html>